<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<link rel="stylesheet" type="text/css" href="/static/blogapp/css/style.css">-->

<a href = "{% url 'index' %}">BLOG</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp


{% if user.is_authenticated %}
    Добро пожаловать, <a href="{% url 'profile' user.pk %}">{{ user.username }}</a>  <a href="{% url 'message' user.pk %}">лс({{count}})</a> | <a href="{% url 'logout' %}">logout</a>
{% else %}
   <a href="{% url 'login' %}">login</a> | <a href="{% url 'signin' %}">signin</a>
{% endif %}

<hr align="left" width="500" size="2" color="#000000" />


{% block content %}
{% endblock %}

</body>
</html>